/** Styling the game field **/
body {
	background-color: rgb(51, 51, 51);
	padding: 0;
	margin: 0;
}
.game {
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.background {
	background: lightblue;
	table-layout: fixed;
  border-spacing: 0;
}
.background td {
	padding: 0;
}
.lava {
	background: rgb(255, 50, 50);
}
.wall {
	background: rgb(86, 86, 86);
}
.water {
	background-color: rgb(100, 150, 255);
}
.grass {
  background-color: rgb(1, 142, 14);	
}
.dirt {
  background-color: rgb(87, 59, 12);
}

/** Styling the actors **/
.element {
	position: absolute;
}
.coin {
	background: rgb(241, 229, 89);
	border-radius: 100px;
}
.player {
	background: rgb(51, 51, 51);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
