/** Styling the game field **/
html {
	font-size: 100%;
	font-family: sans-serif;
}

body {
	background: rgb(51, 51, 51);
	margin: 0;
	padding: 0;
  width: 100%;
}
h1 {
	color: rgb(174, 198, 207);
	font-size: 3rem;
	margin-top: 30vh;
	padding: 10px;
	text-align: center;
}
.coinCount {
	color: rgb(51, 51, 51);
	opacity: 0;
	position: absolute;
	right: 3%;
	top: 0%;
	transition: opacity .2s ease-in-out;
	z-index: 1;
}
.controls {
	opacity: 1;
	position: absolute;
	text-align: center;
  transition: opacity .4s ease-in-out;
	width: 100%;
	z-index: 1;
}
.controls h2 {
	font-size: 2rem;
	margin-top: 15rem;
}
.controls div {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
	height: 100vh;
	width: 48%;
}
.left {
	float: left;
}
.up {
	float: right;
}
.game {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.background {
	background: lightblue;
	table-layout: fixed;
  border-spacing: 0;
}
.background td {
	padding: 0;
}
.floater {
	background: rgb(20, 20, 20);
}
.jumper {
	background: rgb(100, 150, 255);
}
.wall {
	background: rgb(86, 86, 86);
}
.water {
	background: rgb(100, 150, 255);
}
.grass {
  background: rgb(1, 142, 14);	
}
.dirt {
  background: rgb(87, 59, 12);
}

/** Styling the actors **/
.element {
	position: absolute;
}
.coin {
	background: rgb(241, 229, 89);
}
.player {
	background: rgb(51, 51, 51);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
